<!DOCTYPE hmtl>
<html>
    <body>
        <h1> Sign Up as a Customer </h1>
        <form action="/user">
            <label for="email"> Email </label>
            <input type="text" id="email" required>
            <label for="phoneNumber"> Phone Number </label>
            <input type="text" id="phoneNumber">
            <label for="name"> Name </label>
            <input type="text" id="name">
            <label for="zipcode"> Zipcode </label>
            <input type="text" id="zipcode">
            <button type="submit">Sign Up</button>
        </form>
        <h1> Sign In as a Customer </h1>
        <form >
            <label for="signinEmail"> Email </label>
            <input type="text" id="signinEmail" required>
            <button type="submit">Sign In</button>
        </form>
        <h1> Sign Up as a Business </h1>
        <form >
            <label for="businessEmail"> Business Email </label>
            <input type="text" id="businessEmail" required>
            <label for="businessPhoneNumber"> Business Phone Number </label>
            <input type="text" id="businessPhoneNumber">
            <label for="businessName"> Business Name </label>
            <input type="text" id="businessName">
            <label for="businessZipcode"> Business Zipcode </label>
            <input type="text" id="businessZipcode">
            <button type="submit">Sign Up</button>
        </form>
        <h1> Sign In as a Business </h1>
        <form>
            <label for="signinBusinessEmail"> Business Email </label>
            <input type="text" id="signinBusinessEmail" required>
            <button type="submit">Sign In</button>
        </form>
    </body>
</html>
